{% extends 'base.html' %}
{% load staticfiles %}
            
{% block main_content %}
<div class="content-box">      
    <h1>The Hallam Sinfonia</h1>      
    <div class="content-text-wrapper">
        <div class="content-text">
            <img src="{{ settings.about_image_1.image.url }}" alt="{{ settings.about_image_1.title }}" />
            <p>{{ settings.about_the_orchestra|safe|linebreaks }}</p>
        </div>
    </div>
    <div class="content-image-wrapper" id="about-images">
        <img src="{{ settings.about_image_1.image.url }}" alt="{{ settings.about_image_1.title }}" />
        <img src="{{ settings.about_image_2.image.url }}" alt="{{ settings.about_image_2.title }}" />
        <img src="{{ settings.about_image_3.image.url }}" alt="{{ settings.about_image_3.title }}" />
    </div>
    <div class="clearfix"></div>
</div>
{% endblock main_content %}