{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A symphony orchestra based in Sheffield, England">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <title>Hallam Sinfonia</title>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles -->
    <link href="{{ STATIC_URL }}css/{{ color }}.css" rel="stylesheet">
    <style>
        /* Randomised background */
        #meta_container {
            background-image:url('/static/img/backgrounds/{{ background_number }}.jpg');
        }
    </style>
    <!--[if (gte IE 9)|!(IE)]><!-->  
    <link rel="stylesheet" media="screen and (min-width: 900px)" href="{% static 'css/hires_styles.css' %}">
    <!--<![endif]-->
    <!-- HTML5 shim, Respond.js, ie only stylesheet. IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="{% static 'css/ieonly.css' %}">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="meta_container">
      <div class="navbar navbar-inverse" role="navigation" id="navigation">
        <div class="container" id="sidebar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
            <img src="{% static 'img/logo_hs.png' %}" alt="Hallam Sinfonia logo" />
            <img src="{% static 'img/logo_text.png' %}" alt="Hallam Sinfonia title" />  
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'hallamsinfonia.views.upcoming' %}">{{ settings.season_name }} Season</a></li>
              <li><a href="{% url 'news' %}">News</a></li>
              <li><a href="{% url 'hallamsinfonia.views.about' %}">About the Orchestra</a></li>
              <li><a href="{% url 'hallamsinfonia.views.conductors' %}">Conductors</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
          <div id="dagger-area"></div>
        </div>
      </div>
      <div class="meso_container">
        <div class="container" id="main_container">
            {% block main_content %}
            {% endblock main_content %}
        </div>
        <!-- /.container -->
        </div>
        <footer class="footer">
            <div>
                <a class="nowrap" href="{{ settings.facebook_link }}" target="_blank"><span class="icon">v</span> hallamsinfonia</a>
                <a class="nowrap" href="{{ settings.twitter_link }}" target="_blank"><span class="icon">t</span> @hallamsinfonia</a>
                <a class="nowrap" href="mailto:enquiry@hallamsinfonia.org.uk" target="_blank"><span class="icon">a</span> enquiry@hallamsinfonia.org.uk</a>
            </div>
        </footer>
    </div>
    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/hashchange.min.js' %}"></script>
    <script>
    $("#dagger-area").click(function() {
        $("#main_container").fadeToggle()
    })
    $(".meso_container").click(function() {
        $("#main_container").fadeIn()
    })
    function check_sticky_footer() {
        available_height = $(window).height() - $("#meta_container").height();
        $("#main_container").css("min-height", $("#main_container").height() + available_height);
    }
    $( window ).resize(function() {
      check_sticky_footer()
    });
    $( window ).load(function() {
      check_sticky_footer()
    });
    </script>
    {% block additional_js %}
    {% endblock %}
  </body>
</html>