<h1>{{ concert.date }}</h1>

<div class="centred">
    <img src="{{ concert.image.image.url }}" alt="{{ concert.image.title }}" />
</div>

<table class="icons-and-descriptions">
    <tr>
        <td class="icon thin-cell">[</td>
        <td>{{ concert.time }}</td>
    </tr>
    <tr>
        <td class="icon thin-cell">o</td>
        <td>{{ concert.location.full_address }}</td>
    </tr>
    <tr>
        <td class="icon thin-cell">l</td>
        <td>{{ concert.tickets_string|safe }}</td>
    </tr>
</table>

<p class="larger-p">
{% for piece in concert.piece_set.all %}
<b>{{ piece.composer }}</b>&nbsp;&nbsp;{{ piece.title }}<br />
{% endfor %}
</p>

<p class="larger-p">
{% for person in concert.person_set.all %}
<b>{{ person }}</b>&nbsp;&nbsp;{{ person.role }}<br />
{% endfor %}
</p>

<p>{{ concert.description|linebreaks }}</p>

<a href="{{ concert.booking_link }}" target="_blank" ><p id="book">Click to book tickets for this concert</p></a>