{% extends 'base.html' %}
{% load staticfiles %}

{% block main_content %}
<div class="content-box" id="conductors-list">
    <h1>Conductors</h1>
    <p>Click on one of our regular conductors below to read more about them.</p>
    {% for conductor in conductors %}
      <a href="#{{ conductor.pk }}">{{ conductor }}</a>
    {% endfor %}
</div>

<div class="content-box" id="conductor">
    <div id="conductor-content"></div>
    <div class="clearfix"></div>
</div>
{% endblock main_content %}

{% block additional_js %}
<script>

$(function(){

  // Bind the event.
  $(window).hashchange( function() {
    $( "#conductor" ).hide()
    hash = location.hash.replace( /^#/, '' ) || 'blank'
    if (hash != 'blank') {
        $( "#conductor-content" ).load( "/conductors/" + hash + "/", function() {
            $( "#conductor" ).slideDown()
        })
    }
  })

  // Trigger the event (useful on page load).
  $(window).hashchange();
});

</script>
{% endblock %}
