{% extends 'base.html' %}
{% load staticfiles %}
            
{% block main_content %}
<div class="content-box" id="conductors-list">      
 <h1>Conductors</h1>      
<p>Click on one of our regular conductors below to read more about them.</p>
  <a href="#">Natalia Luis-Bassa</a>
  <a href="#">Richard Laing</a>
  <a href="#">A N Other</a>
            </div>
            
<div class="content-box conductor">            
            <h1>Natalia Luis-Bassa</h1>
            <div class="two-col">
            <img src="{% static 'img/square.jpg' %}" />
    <p>Tim Horton Opti occulles doluptate resed quamus atur
sam, qui dictur, nam sequias perspit iistore nem. Itae sim
laccum quodi dolestia quunt etur si resseque lam ut occus
sa dust pro veni re, arum sini alis pro... </p>
    <p>Tim Horton Opti occulles doluptate resed quamus atur
sam, qui dictur, nam sequias perspit iistore nem. Itae sim
laccum quodi dolestia quunt etur si resseque lam ut occus
sa dust pro veni re, arum sini alis pro... </p>
    <p>Tim Horton Opti occulles doluptate resed quamus atur
sam, qui dictur, nam sequias perspit iistore nem. Itae sim
laccum quodi dolestia quunt etur si resseque lam ut occus
sa dust pro veni re, arum sini alis pro... </p>
    <p>Tim Horton Opti occulles doluptate resed quamus atur
sam, qui dictur, nam sequias perspit iistore nem. Itae sim
laccum quodi dolestia quunt etur si resseque lam ut occus
sa dust pro veni re, arum sini alis pro... </p>
</div>
</div>
{% endblock main_content %}