{% extends 'base.html' %}
{% load staticfiles %}
            
{% block main_content %}

<div id="quote">
    <p>{{ settings.quote_text }}</p>
    <p id="quote-src">{{ settings.quote_source }}</p>
</div>

{% if next_concert %}
<div class="content-box">            
    <div class="content-text-wrapper">
        <div class="content-text">
            <h1>Upcoming</h1>
            <img src="{{ next_concert.image.image.url }}" alt="{{ next_concert.image.title }}" />
            <div class="fifty-float lhs">
                <h3>{{ next_concert.date }}</h3>
                <p>{{ next_concert.title }}</p>
                {% if next_concert.subtitle %}
                <p class="smaller-p">{{ next_concert.subtitle }}</p>
                {% endif %}
            </div>
            <div class="fifty-float rhs">
                <p class="inset"><span class="icon reset">[</span>{{ next_concert.time }}</p>
                <p class="inset"><span class="icon reset">o</span>{{ next_concert.location }}</p>
                <p class="lowered"><a href="{% url 'upcoming' %}#{{ next_concert.pk }}">read more...</a></p>
            </div>
        </div>
    </div>
    <div class="content-image-wrapper">
        <img src="{{ next_concert.image.image.url }}" alt="{{ next_concert.image.title }}" />
    </div>
    <div class="clearfix"></div>
</div>
{% endif %}

{% if latest_news %}
<div class="content-box">            
    <div class="content-text-wrapper">
        <div class="content-text">
            <h1>{{ latest_news.title }}</h1>
            <img src="{{ latest_news.image.image.url }}" alt="{{ latest_news.image.title }}" />
    <p>{{ latest_news.content|linebreaks|truncatewords:50 }} <a href="{% url 'news' %}">read more...</a></p>
        </div>
    </div>
    <div class="content-image-wrapper">
       <img src="{{ latest_news.image.image.url }}" alt="{{ latest_news.image.title }}" />
    </div>
    <div class="clearfix"></div>
</div>
{% endif %}

{% endblock main_content %}