{% extends 'base.html' %}
{% load staticfiles %}
            
{% block main_content %}

 <div class="content-box">            
    <h1>Hallam Sinfonia News</h1>
    <p>Latest news from the orchestra</p>
</div>

<div id="stories">
    {% for story in news %}
    {% include 'news_fragment.html' %}
    {% endfor %}
</div>

{% if more %}
 <div class="content-box hand" id="more">            
    <h1>More</h1>
</div>
{% endif %}

{% endblock main_content %}

{% block additional_js %}
<script>

    $( "#more" ).click(function() {
        last_pk = $("body").find("#stories .content-box:last").attr('id')
        url = "/news/following/" + last_pk + "/"
        $.get( url, function( story ) {
            $("#stories").append( story )
            last_story = $("body").find("#stories .content-box:last")
            last_story.hide().slideDown();
            if (last_story.data("more") == "False") {
                $("#more").slideUp()
            }
        })
    });
        
</script>
{% endblock %}