<div class="content-box" id="{{ story.pk }}" data-more="{{ more }}">            
    <div class="content-text-wrapper">
        <div class="content-text">
            <h1>{{ story.title }}</h1>
            <img src="{{ story.image.image.url }}" alt="{{ story.image.title }}" />
            <p>{{ story.content|safe|linebreaks }}</p>
        </div>
    </div>
    <div class="content-image-wrapper">
        <img src="{{ story.image.image.url }}" alt="{{ story.image.title }}" />
    </div>
    <div class="clearfix"></div>
</div>