{% extends 'base.html' %}
{% load staticfiles %}

{% block main_content %}

<div id="upcoming-wrapper">

  <div class="col" id="concerts-listview">

    {% if current_season.concert_set.all %}
    <h1>Current Season and Upcoming Concerts</h1>

    <table class="concerts-table">
      {% for concert in current_season.concert_set.all %}
      {% include 'concert_list_fragment.html' %}
      {% endfor %}
    </table>
    {% endif %}

    {% if next_season.concert_set.all %}
    <h1>Next Season</h1>

    <table class="concerts-table">
      {% for concert in next_season.concert_set.all %}
      {% include 'concert_list_fragment.html' %}
      {% endfor %}
    </table>
    {% endif %}

    <h1>Past Seasons</h1>

      {% for season in previous_seasons %}
      {% if season.concert_set.all %}
      <div>
      <h3>{{ season.title }} <span class="arrow icon">ì</span></h3>
      <table class="concerts-table hidden-concerts-table">
        {% for concert in season.concert_set.all %}
        {% include 'concert_list_fragment.html' %}
        {% endfor %}
      </table>
      </div>
      {% endif %}
      {% endfor %}

  </div>

  <div class="col" id="upcoming-detail" style="display:none"></div>

</div>

{% endblock main_content %}

{% block additional_js %}
<script src="{% static 'js/concertsAjax.js' %}"></script>
{% endblock %}
