{% extends 'base.html' %}
{% load staticfiles %}
            
{% block main_content %}

<div id="upcoming-wrapper">

    <div class="col">
        <h1>Upcoming Concerts</h1>
        
        <table class="concerts-table">
            {% for concert in concerts %}
            <tr class="concert">
                <td class="fixed-width">
                    <a href="#{{ concert.pk }}">
                        <img src="{{ concert.image.image.url }}" alt="{{ concert.image.title }}" />
                    </a>
                </td>
                <td>
                    <a href="#{{ concert.pk }}"><h4>{{ concert.date }}</h4></a>
                    <a href="#{{ concert.pk }}" class="light-grey larger-p">{{ concert.title }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        
        <h1>Past Concerts</h1>
        
        <table class="concerts-table">
            {% for concert in past_concerts %}
            <tr class="concert">
                <td class="fixed-width">
                    <a href="#{{ concert.pk }}">
                        <img src="{{ concert.image.image.url }}" alt="{{ concert.image.title }}" />
                    </a>
                </td>
                <td>
                    <a href="#{{ concert.pk }}"><h4>{{ concert.date }}</h4></a>
                    <a href="#{{ concert.pk }}" class="light-grey larger-p">{{ concert.title }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>

    <div class="col" id="upcoming-detail" style="display:none"></div>
    
</div>

{% endblock main_content %}

{% block additional_js %}
<script>

$(function(){

  // Bind the event.
  $(window).hashchange( function() {
    $( "#upcoming-detail" ).hide()
    hash = location.hash.replace( /^#/, '' ) || 'blank'
    if (hash != 'blank') {
        $( "#upcoming-detail" ).load( "/upcoming/" + hash + "/", function() {
            $( "#upcoming-detail" ).slideDown()
            $('html, body').animate({
                scrollTop: ($("#upcoming-detail").offset().top - 10)
            }, 600);
        })
    }
  })

  // Trigger the event (useful on page load).
  $(window).hashchange();
});
        
</script>
{% endblock %}