/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 
@import "compass";

@mixin two_col_liquid_left_fixed_right($fixed_div_name, $liquid_div_wrapper_name, $liquid_div_name, $fixed_width, $padding_offset) {
    /*
    *  Mixin to generate a two-column layout in which the right-hand
    *  column has a fixed width and the left-hand column occupies the
    *  remaining space.
    *  A padded gap can be created by specifying a padding offset.
    *  State units (i.e. px) with $fixed_width and $padding_offset.
    *
    *  Implement using the following HTML:

    <div class="liquid_left_wrapper">
        <div class="liquid_left">
            <!--Liquid content-->
        </div>
    </div>
    <div class="fixed_right">
       <!--Fixed content-->
    </div>

    */
    #{$fixed_div_name} {
        float: left;
        margin-left: -$fixed_width;
        width: $fixed_width;
    }
    #{$liquid_div_wrapper_name} {
        float: left;
        width: 100%;
    }
    #{$liquid_div_name} {
        margin-right: $fixed_width + $padding_offset;
    }
}

@mixin two_col_fixed_left_liquid_right($fixed_div_name, $liquid_div_wrapper_name, $liquid_div_name, $fixed_width, $padding_offset) {
    /*
    *  Mixin to generate a two-column layout in which the left-hand
    *  column has a fixed width and the right-hand column occupies the
    *  remaining space.
    *  A padded gap can be created by specifying a padding offset.
    *  State units (i.e. px) with $fixed_width and $padding_offset.
    *
    *  Implement using the following HTML:

    <div class="liquid_right_wrapper">
        <div class="liquid_right">
            <!--Liquid content-->
        </div>
    </div>
    <div class="fixed_left">
       <!--Fixed content-->
    </div>

    */
    #{$fixed_div_name}, #{$liquid_div_wrapper_name} {
        float: left;
    }
    #{$fixed_div_name} {
        margin-left: -100%;
        width: $fixed_width;
        padding-right: $padding_offset;
    }
    #{$liquid_div_wrapper_name} {
        width: 100%;
    }
    #{$liquid_div_name} {
        margin-left: $fixed_width + $padding_offset;
    }
}

@include font-face("jura", font-files("jura.ttf", "jura.woff", "jura.svg"), "jura.eot");
@include font-face("sosa", font-files("sosa.ttf", "soa.woff", "sosa.svg"), "sosa.eot");

body, html {
	background-color: #ddd;
	font-family: 'Cabin', sans-serif;
	color: #e6e6e6;
	font-size: 15px;
	min-width: 280px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'jura', serif;
	margin: 0 0 5px 0;
	color: white;
}

h1 {
	font-family: 'Cabin', sans-serif;
	border-bottom: 2px solid $accent;
	margin: 5px 0px 10px 0;
	padding-bottom: 10px;
	font-size: 30px;
}

h4 {
	font-size: 20px;
}

.smaller-p {
	font-size: 12px;
}
.larger-p {
	font-size: 16px;
}

a {
	color: white;
	&:hover {
		color: white;
	}
}

b {
	color: white;
}

.light-grey {
	color: #e6e6e6;
}

.icon {
	font-family: 'sosa', sans-serif;
	font-size: 1.5em;
	color: white;
}

.clearfix {
	clear: both;
}

.collapse {
	padding: 0;
}

#concerts-table {
	width: 100%;
	border-spacing: 12px;
	margin-top: -10px;
    border-collapse: separate;
    .fixed-width {
    	width: 148px;
    }
	img {
		margin-left: -12px;
		width: 150px;
	}
	td {
		vertical-align:top;
	}
}

.icons-and-descriptions {
	width: 100%;
	border-spacing: 5px;
	margin-bottom: 10px;
	td {
		vertical-align: middle;
	}
	.thin-cell {
		width: 40px;
	}
}

#book {
	border: 2px solid $accent;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	&:hover {
		border-width: 3px;
		padding: 9px;
	}
}

#meta_container {
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 2000px;
	@include single-box-shadow;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	@include background-size(cover);
	-ms-behavior: url(/static/css/backgroundsize.min.htc);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#main_container {
	position: relative;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.container {
	margin-left: 0;
	min-height: 100%;
	width: 100%;
	max-width: 1200px;
}

.meso_container {
	position: relative;
	min-height: 100%;
	height: 100%;
}

.navbar {
	background-color: $accent;
	border: 0;
	margin-bottom: 0;
	@include border-radius(0);
	a {
		color: white;
	}
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: white;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: $accent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:focus {
	color: #fff;
	background-color: tint($accent, 20);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: 0;
}

.navbar-brand {
	padding: 0;
	position: relative;
	img {
		height: 50px;
		padding-right: 10px;
	}
}

.navbar-header {
	padding: 15px 0 15px 0;
}

.navbar-nav {
	margin: 0 -15px 0 -15px;
	li a {
		padding-left: 30px;
		border-top: solid 1px white;
	}
}
.navbar>.container .navbar-brand {
	margin-left: 15px;
}

.nowrap {
	white-space:nowrap;
	padding: 0 15px 0 15px;
}

.footer {
	font-family: 'jura', serif;
	font-size: 12pt;
	background-color: white;
	text-align: center;
	color: #333;
	padding: 10px;
	> div {
		max-width: 1180px;
	}
	.social {
		display:inline-block;
		margin: 0 30px 0 30px;
	}
	.icon {
		color: $accent;
	}
	a {
		color: #333;
		text-decoration: none;
	}
}

#conductors-list {
	a {
		color: white;
		display: block;
		margin-bottom: 5px;
	}
}

.fifty-float {
	float: left;
	width: 50%;
	p {
		margin: 0 0 5px 0;
	}
}
.lhs {
	padding-right: 10px;
}
.rhs {
	padding-left: 20px;
}
.inset {
	margin-left: 20px;
}
.reset {
	margin-left: -20px;
}
.lowered {
	margin-top: 15px;
}

#quote {
	position: relative;
	margin: 20px;
	max-width: 430px;
	color: white;
	#quote-src {
		font-style:italic;
	}
}

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}

.content-box, #upcoming-wrapper {
	position: relative;
	max-width: 1200px;
	margin: 20px 0 20px 0;
}

.content-box, .col {
	@include transparent(#000, 0.5);
	padding: 10px 25px 10px 25px;
}
.col {
	margin-bottom: 20px;
	img {
		width: auto;
		max-width: 350px;
		height: auto;
		max-height: auto;
	}
}

.centred {
	text-align: center;
	img {
		padding: 5px 0 20px 0;
	}
}

@include two_col_liquid_left_fixed_right('.content-image-wrapper', '.content-text-wrapper', '.content-text', 270px, 20px);
.content-text img {
	width: 100%;
	padding: 10px 0 10px 0;
}
.content-image-wrapper img {
	width: 100%;
	display: none;
	padding-top: 20px;
}
#about-images img {
	padding-top: 0;
	padding-bottom: 20px;
}
.content-image-wrapper {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.content-text {
	margin-right: 0;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.concert a {
	text-decoration: none;
}

.hand {
	cursor: pointer;
	cursor: hand;
}

#conductor {
	img {
		margin: 0 auto;
		padding: 0 0 10px 20px;
		width: 180px;
		float: right;
	}
}

@include two_col_fixed_left_liquid_right(".fixed_left", ".liquid_right", ".liquid_right_wrapper", 150px, 20px);


@media screen and (min-width: 700px) {
	#upcoming-wrapper {
		overflow: hidden;
		.col {
			width: 49%;
			float: left;
			margin-bottom: -979px;
			padding-bottom: 999px;
		}
		.col:nth-child(2) {
			float: right;
			h1 {
				margin-left: 0;
				padding-left: 0;
			}	
		}
	}
	.content-text {
		margin-right: 290px;
		img {
			display: none;
		}
	}
	.content-image-wrapper img {
		width: 100%;
		display: block;
	}
	#main_container {
		max-width: 100%;
		margin: 0 0;
	}
	.two-col {
		@include column-count(2);
		@include column-gap(40px);
	}
	#conductors-list {
		a {
			display: inline-block;
			margin-right: 60px;
		}
	}
}

@media screen and (min-width: 768px) {
	.navbar-nav {
		float: right;
		padding-right: 15px;
		li {
			height: 80px;
			display: table;
		}
	}	
	.navbar-nav li a {
		border: 0;
		padding: 30px 20px 30px 20px;
		height: 100%;
		display: table-cell;
		vertical-align: middle;
	}
}
	