#meta_container {
    max-width: 1280px;
}

#upcoming-detail {
	img {
		width: auto;
	}
}

@media screen and (min-width: 700px) {
    .navbar {
        overflow: hidden;
    }
    .navbar-brand {
        padding-left: 35px;
    }
    .navbar-nav {
        float: none;
        position: absolute;
        right: 0;
    }
}